[HIDI]
# analog events throttling, pool rate per each unique EvCode
pool_rate = 60 # Hz
# input handlers discovery rate
discovery_rate = 2 # Hz
# timeout for collecting input handlers to input device groups
stabilization_period = 1000 # Milliseconds
# UI refresh rate, no point of going above 20, it has great impact on CPU usage
log_view_rate = 10 # Hz

[screen]
enabled = false
type = "20x4" # "16x2" or "20x4"
address = 0x3f
bus = 1
# display is slow, there is no point of refreshing earlier than every 1 second
update_rate = 1
# optional customized exit message
exit_message1 = ""
exit_message2 = ""
exit_message3 = ""
exit_message4 = ""
