[HIDI]
# pool rate in Hz per each unique EvCode (analog events only)
pool_rate = 60 # Hz
discovery_rate = 2 # Hz
stabilization_period = 1000 # Milliseconds

[screen]
enabled = false
type = "20x4" # "16x2" or "20x4"
address = 0x3f
bus = 1
update_rate = 1 # display is slow, there is no point of refreshing earlier than every 1 second
exit_message1 = ""
exit_message2 = ""
exit_message3 = ""
exit_message4 = ""
