[HIDI]
# pool rate in Hz per each unique EvCode (analog events only)
pool_rate = 60 # Hz
discovery_rate = 5 # Hz
stabilization_period = 1000 # Milliseconds

[screen]
# TODO: currently display module consumes a lot of cpu resources
enabled = false
type = "20x4" # "16x2" or "20x4"
address = 0x3f
bus = 1
