[HIDI]
# analog events throttling, pool rate per each unique EvCode
pool_rate = 60 # Hz
# input handlers discovery rate
discovery_rate = 1 # Hz
# timeout for collecting input handlers to input device groups
stabilization_period = 500 # Milliseconds
# UI refresh rate, may have significant performance impact on lower-spec platforms like pi zero 1,
# especially when debug logging is enabled.
log_view_rate = 60 # Hz
# maximum number of log entries kept in memory
log_buffer_size = 1024

# HD44780 screen support through i2c "backpack" interface
[screen]
enabled = false
# "20x4" ("16x2" not supported yet)
type = "20x4"
# i2c bus device address
address = 0x3f
# i2c bus number, it may be different for different platforms
bus = 1
# display is slow, there is no point of refreshing earlier than every 1 second
update_rate = 1
# optional customized exit message
exit_message1 = ""
exit_message2 = ""
exit_message3 = ""
exit_message4 = ""
